<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mario's List</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="http://fonts.cdnfonts.com/css/new-super-mario-font-u" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/headers.css" />
  <link rel="stylesheet" href="/styles/search-section.css" />
  <link rel="stylesheet" href="/styles/feature-items.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/504ea4f88f.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav>
    <div id="navlogo">
      <span><a href="http://localhost:8080"><img
            src="https://fontmeme.com/permalink/220827/af0c2ad64ef606ff785badeebe948d07.png"></a></span>
    </div>

    <div id="navbarlinks" class="nav-bar-links">
      <a href="/" style="text-decoration: none;">Home&nbsp;&nbsp;</a>
      <a href="/api/favourites" style="text-decoration: none;" class="favourite">Favourites&nbsp;&nbsp;</a>
      <% if (!user.isAdmin) { %>


        <a href="" style="text-decoration: none;">Log in&nbsp;&nbsp;</a>
        <a href="" style="text-decoration: none;">Sign Up</a>
        <% } %>
    </div>
  </nav>

  <h1 class="buy-and-sell">&#127918 Buy and sell your favourite video games &#127918</h1>



  <form id="search_video_game_listings">
    <div id="search-section">
      <div class="search-form">
        <label for="search-listing">Name:</label>
        <input type="text" name="name" placeholder="&#127918">
      </div>


      <div class="search-by-price">
        <!-- <label for="search-by-lowest-price">Lowest Price</label>
        <input type="number" name="lowest-price" placeholder="Lowest Price"><br> -->
        <label for="search-by-highest-price">Highest Price</label>
        <input type="number" name="maximum_price" placeholder="&#128176">
      </div>
      <div class="search-by-rating">
        <label for="search-by-minimum-review">Lowest Rating</label>
        <input type="number" name="minimum_rating" placeholder="&#11088">

      </div>
      <button class="search-button" type="submit">Search</button>
    </div>

  </form>


  <div id="results-container"></div>

  <div id="feature-items">
    <div class="new-games">
      <h3>New Games</h3><br>
      <h3>Pokémon Legends: Arceus</h3>
      <img class="game-1-pic"
        src="https://www.videogameschronicle.com/files/2021/08/pokemon-legends-arceus-1024x578.jpg">
      <h3>$ 51.00</h3>
      <h3>&#11088&#11088&#11088&#11088&#11088</h3>
      <p>Pokemon did not necessarily need to change</p>
    </div>

    <div class="hot-buys">
      <h3>Hot Buys</h3><br>
      <h3>Monster Hunter: World</h3>
      <img class="game-2-pic"
        src="https://www.mobygames.com/images/covers/l/500198-monster-hunter-world-playstation-4-front-cover.jpg">
      <img>
      <h3>$ 89.00</h3>
      <h3>&#11088&#11088&#11088&#11088</h3>
      <p>Enjoy the ultimate hunting experience</p>
    </div>

    <div class="going-gone">
      <h3>Going, gone!</h3><br>
      <h3>Super Mario RPG</h3>
      <img class="game-3-pic"
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/43917b36-893f-420a-a50e-fb8fd12ed8d1/ddq5t5k-00144d43-3655-47df-b465-ae2a14c89221.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQzOTE3YjM2LTg5M2YtNDIwYS1hNTBlLWZiOGZkMTJlZDhkMVwvZGRxNXQ1ay0wMDE0NGQ0My0zNjU1LTQ3ZGYtYjQ2NS1hZTJhMTRjODkyMjEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XHXNC2KxpITsVQaSRx6dVvu2dbAsgZr4taDQaSbVbRY">
      <h3>$ 129.00</h3>
      <h3>&#11088&#11088&#11088&#11088</h3>
      <p>The first RPG in the Mario franchise</p>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <h3>Marios Labs</h3>
      <p>Hello, This is Marioslist.com. You can buy and sell the games. Enjoy! </p>
      <ul class="socials">
        <li><i class="fa-brands fa-square-facebook"></i></li>
        <li><i class="fa-brands fa-square-twitter"></i></li>
        <li><i class="fa-brands fa-google"></i></li>
        <li><i class="fa-brands fa-square-youtube"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-square-github"></i></li>
      </ul>
      <p>copyright &copy;2022 MariosLabs</p>
    </div>
  </footer>
</body>

</html>
