<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mario's List</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="http://fonts.cdnfonts.com/css/new-super-mario-font-u" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/headers.css" />
  <link rel="stylesheet" href="/styles/search-section.css" />
  <link rel="stylesheet" href="/styles/feature-items.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div id="navlogo">
      <span><a href="http://localhost:8080"><img
            src="https://fontmeme.com/permalink/220827/af0c2ad64ef606ff785badeebe948d07.png"></a></span>
    </div>

    <div id="navbarlinks" class="nav-bar-links">
      <a href="/" style="text-decoration: none;">Home&nbsp;&nbsp;</a>
      <a href="" style="text-decoration: none;">Favourites&nbsp;&nbsp;</a>
      <a href="" style="text-decoration: none;">Log in&nbsp;&nbsp;</a>
      <a href="" style="text-decoration: none;">Sign Up</a>

    </div>
  </nav>

  <h1 class="buy-and-sell">&#127918 Buy and sell your favourite video games &#127918</h1>



  <form method="get" id="search_video_game_listings">
    <div class="search-form">
      <label for="search-listing">Name:</label>
      <input type="text" name="search" placeholder="&#127918">
    </div>


      <div class="search-by-price">
        <!-- <label for="search-by-lowest-price">Lowest Price</label>
        <input type="number" name="lowest-price" placeholder="Lowest Price"><br> -->
        <label for="search-by-highest-price">Highest Price</label>
        <input type="number" name="highest-price" placeholder="&#128176">
      </div>
      <div class="search-by-rating">
        <label for="search-by-minimum-review">Lowest Rating</label>
        <input type="number" name="minimum-review" placeholder="&#11088">

      </div>
      <button class="search-button" type="submit">Search</button>
    </div>

  </form>


  <div id="feature-items">
    <div class="feature-1">
      <h3>New Games</h3><br>
      <img>
    </div>

    <div class="feature-2">
      <h3>Hot Buys</h3><br>
      <img>
    </div>

    <div class="feature-3">
      <h3>Going, gone!</h3><br>
      <img>
    </div>
  </div>



</body>

</html>
