#feature-items {
  /* margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px; */
  margin-top: 34px;
  font-family: "New Super Mario Font U", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  column-gap: 150px;
}
