.buy-and-sell {
  font-family: "New Super Mario Font U", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

#search-section {
  margin-top: 20px;
  font-family: "New Super Mario Font U", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-form {
  margin-bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-by-price {
  margin-top: 0;
  margin-bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-by-rating {
  margin-top: 0;
  margin-bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-button {
  margin-top: 5px;
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  height: 58px;
  width: 108px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: opacity 0.15s,
}

.search-button:hover {
  opacity: 0.8;
}

.search-button:active {
  opacity: 0.5;
}

.searched-games {
  font-family: "New Super Mario Font U", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 28px;
  border-radius: 25px;
  border: 3px solid rgb(29, 155, 240);
  width: 1200px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#fav-email {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.fav-button {
  margin-top: 5px;
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  height: 58px;
  width: 250px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: opacity 0.15s,
}

.fav-button:hover {
  opacity: 0.8;
}

.fav-button:active {
  opacity: 0.5;
}

.email-button {
  margin-top: 5px;
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  height: 58px;
  width: 250px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s,
}

.email-button:hover {
  opacity: 0.8;
}

.email-button:active {
  opacity: 0.5;
}
